$btnGreen: #20c594;
$blue: #314281;
$red: #dc143c;
$lightestGrey: #eff1f5;
$middleGrey: #9e9a9a;
$lightGrey: #737373;
$textColor: #183153;
$borderColor: #d5d8dd;
$themeBoxShadowLight: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
$themeBorderRadius: 10px;

//screen width
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;
