$darkBlue: #1b284a;
$blue: #314281;
$blueHover: #2a396f;
$lightblue: #74c0fc;
$lightestBlue: #b5bfe3;
$yellow: #fab81e;
$green: #63e6be; //#4cd884;
$btnGreen: #20c594;

$purple: #4f4686;
$lightPurple: #7e5da6;
$lighterPurple: #a38cc0;

$colorPink: #ed789b;
$colorPinkLight: #f688a9;
$red: #dc143c;

$darkGrey: #22242d;
$lightGrey: #737373;
$middleGrey: #b3b3b3;
$lighterGrey: #e6e6e6;
$lightestGrey: #eff1f5;
$superLightGrey: #f5f6f9;

$textColor: #183153; // $darkBlue;
$textColorLight: $lightGrey;
$borderColor: #d5d8dd;
$borderColorBlue: #465fb9;
$linkColor: #1994e6;
$sectionPadding: 4%;
$themeBorderRadius: 10px;
$themeBoxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$themeBoxShadowLight: 0 2px 4px 0 rgba(0, 0, 0, 0.125);

//screen width
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;

$lg-max: 1199.9px;
$xl-min: 1200px;

$xl-max: 1309px;
$xxl-min: 1600px;

@import "./components/singleProduct";
@import "./components/form";
@import "./components/signUp";

//general
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
main {
  max-width: 900px;
  margin: 7rem auto;
  padding: 1rem;
}
h1 {
  margin-top: 0;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

//Productlist
.product-list-section {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
  }
}
.logout {
  display: flex;
  justify-content: flex-end;
}
