$darkBlue: #1b284a;
$blue: #314281;
$blueHover: #2a396f;
$lightblue: #74c0fc;
$lightestBlue: #b5bfe3;
$yellow: #fab81e;
$green: #63e6be; //#4cd884;
$btnGreen: #20c594;

$purple: #4f4686;
$lightPurple: #7e5da6;
$lighterPurple: #a38cc0;

$colorPink: #ed789b;
$colorPinkLight: #f688a9;
$red: #dc143c;

$darkGrey: #22242d;
$lightGrey: #737373;
$middleGrey: #b3b3b3;
$lighterGrey: #e6e6e6;
$lightestGrey: #eff1f5;
$superLightGrey: #f5f6f9;

$textColor: #183153; // $darkBlue;
$textColorLight: $lightGrey;
$borderColor: #d5d8dd;
$borderColorBlue: #465fb9;
$linkColor: #1994e6;
$sectionPadding: 4%;
$themeBorderRadius: 10px;
$themeBoxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$themeBoxShadowLight: 0 2px 4px 0 rgba(0, 0, 0, 0.125);

//screen width
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;

$lg-max: 1199.9px;
$xl-min: 1200px;

$xl-max: 1309px;
$xxl-min: 1600px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  max-width: 900px;
  margin: 8rem auto;
}
form {
  padding: 0.5rem 0;
  border-radius: 10px;
  background: white;
  label {
    color: $lightGrey;
    display: block;
    margin: 0.7rem 0;
    font-size: 0.8rem;
  }
  input,
  textarea {
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0.9rem 0.7rem;
    border: 1px solid $borderColor;
    border-radius: $themeBorderRadius;
    color: $textColor;
    &:focus {
      outline: $blue solid 1px;
      border-radius: 5px;
      border-radius: $themeBorderRadius;
    }
    &::placeholder {
      color: $middleGrey;
    }
  }
  input[type="checkbox"] {
    width: auto;
  }
  textarea {
    height: 100px;
    border: 1px solid $borderColor;
  }
  .checkbox-section {
    display: flex;
    align-items: center;
    input {
      margin-right: 0.5rem;
    }
  }
}
.btn-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  button {
    &.submit-btn {
      background: $btnGreen;
      color: #fff;
      &:disabled {
        background: $lightestGrey;
        color: lightGrey;
        cursor: not-allowed;
      }
    }
    &.delete-btn {
      background: $red;
      color: #fff;
    }
    &.cancel-link {
      background: $lightestGrey;
    }
  }
}
button,
.btn-link {
  display: block;
  border: 0;
  padding: 0.8rem 1.1rem;
  border-radius: $themeBorderRadius;
  font-size: 0.9rem;
  transition: all 0.3s ease-in;
  box-shadow: $themeBoxShadowLight;
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0) !important;
    text-decoration: none;
  }
}
.signup-btn {
  clear: both;
  background: $blue;
  color: #fff;
  margin-top: 1.5rem;
  width: 100%;
  a {
    color: #fff;
  }
}
.signup-upper {
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: $themeBoxShadowLight;
  border-radius: $themeBorderRadius;
  @media all and (max-width: $xs-max) {
    box-shadow: none;
  }
  h1 {
    margin: 0 0 0.5rem 0;
    text-align: center;
  }
  .header-text {
    margin-top: 0;
    text-align: center;
    @media all and (min-width: $md-min) {
      font-size: 1rem;
    }
  }
}
.signup-lower {
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  background: transparent;
  p {
    line-height: 1.4;
    margin: 0;
  }
  .small-text {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    color: $lightGrey;
    text-align: center;
    @media all and (max-width: $xs-max) {
      padding: 0.5rem 2rem;
    }
    @media all and (min-width: $md-min) {
      padding: 1rem 3rem;
    }
  }
}
